<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Edit Page</title>
		<link rel="stylesheet" th:href="@{/css/style.css}" href="../css/style.css"/>
		<link rel="stylesheet" th:href="@{/css/bootstrap.css}" href="../css/bootstrap.css"/> 
		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    </head>
    <body>       
         <form  method="post" th:object="${pageViewModel}" class="pageViewModel" th:action="@{/editPage}" action="#">
            <table class="table">
            	<tr>
            		<td></td>
            		<td><h1 th:inline="text" class="alignLeft">Edit Page</h1></td>
            	</tr>
            	<tr>
            		<td>Title:</td>
            		<td>
            			<input type="text" value="Title" th:field="*{title}" class="block form-control inputField"/>
            		</td>
            	</tr>
            	<tr>
            		<td>Subtitle:</td>
            		<td><input type="text" value="Title" th:field="*{subtitle}" class="block form-control inputField"/></td>
            	</tr>
            	<tr>
            		<td><input th:field="*{id}" type="hidden"></input></td>
            		<td>
            			<button type="submit" value="Save edits" class="btn btn-primary block"> Save edits </button>
            		</td>
            	</tr>
            </table>
        </form>

	<div th:replace="fragments/sidebar :: sidebar"></div>

	<script type="text/javascript"
		th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
	<script
		src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<script type="text/javascript" th:src="@{/js/index.js}"></script>
</body>
</html>