<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Edit Post</title>
		<link rel="stylesheet" th:href="@{/css/style.css}" href="../css/style.css"/>
		<link rel="stylesheet" th:href="@{/css/bootstrap.css}" href="../css/bootstrap.css"/> 
    </head>
    <body>
        

         <form  method="post" th:object="${postViewModel}" class="postViewModel" th:action="@{/editPost}" action="#">
         	
            <table class="table">
            	<tr>
            		<td></td>
            		<td><h1 th:inline="text" class="alignLeft">Edit Post</h1></td>
            	</tr>
            	<tr>
            		<td>Title:</td>
            		<td>
            			<input type="text" value="Title" th:field="*{title}" class="block textBox"/>
            		</td>
            	</tr>
            	<tr>
            		<td>Text:</td>
            		<td><textarea th:field="*{text}" cols="40" rows="10"></textarea><br/><br/></td>
            	</tr>
            	<tr>
            		<td><input th:field="*{id}" type="hidden"></input><input th:field="*{pageId}" type="hidden"></input></td>
            		<td>
            			<button type="submit" value="Save edits" class="btn btn-primary block"> Save edits </button>
            		</td>
            	</tr>
            </table>
            
        </form>
    </body>
</html>