<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>My Website</title>        
		<link rel="stylesheet" th:href="@{/css/bootstrap.css}" href="../css/bootstrap.css"/> 
		<link rel="stylesheet" th:href="@{/css/style.css}" href="../css/style.css"/>	
		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    </head>
    <body>
    	<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    		<div class="container">
			<ul class="nav navbar-nav">
				<th:block data-th-each="menu_item : ${main_menu}">
					<li class="dropdown">
						<a th:attr="data-page-id=${menu_item.page.id}" class="menuItemLink">
							<span data-th-utext="${menu_item.label}"></span>
						</a>
						
						<div class="dropdown-content" data-th-if="${not #lists.isEmpty(menu_item.subMenus)}">
							<th:block data-th-each="submenu_item : ${sub_menu}">
								<a th:attr="data-page-id=${submenu_item.page.id}"
									class="menuItemLink"
									data-th-if="${submenu_item.mainMenu.id} == ${menu_item.id}">
									<span data-th-text="${submenu_item.label}"></span>
								</a>
							</th:block>
						</div>
					</li>
				</th:block>
			</ul>
			<div sec:authorize="isAuthenticated()">
				<div class="userDiv">
					Welcome: <span sec:authentication="name" th:text="${#request.userPrincipal.principal.username}"></span>,
					<span><a href="#" th:href="@{/logout}">log out?</a></span>
				</div>
			</div>
			<div sec:authorize="isAnonymous()">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#" th:href="@{/login}">Log in</a></li>
					</ul>
				</div>
			</div>
    	</nav>

		<div class="container">
    		<h1 th:text="${page.title}"></h1>
        	<h2 th:text="${page.subtitle}"></h2>

		<div sec:authorize="isAuthenticated()">
			<button class="btn btn-primary block addNewPostButton" th:attr="data-page-id=${session.page_id}" th:unless="${session == null}"> Add new Post </button>
		</div>
        	
        	<table class="table posts">
        		<tr th:each="post : ${posts}" class="post">
        			<td th:text="${post.title}" class="title"></td>
        			<td th:text="${post.text}" class="text"></td>
        			<td th:text="${post.user.username}" class="username"></td>
				<td>
					<div sec:authorize="hasAuthority('ROLE_ADMIN')">
						<button class="btn editPostButton" th:attr="data-post-id=${post.id}">Edit Post</button>
						<button class="btn deletePostButton" th:attr="data-post-id=${post.id}">Delete Post</button>
					</div>
				</td>
			</tr>
        	</table>
        	
    	</div>

		<script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    	<script type="text/javascript" th:src="@{/js/index.js}"></script>   	
    	
    </body>
</html>